{# src/WM/CoreBundle/Resources/views/Default/index.html.twig #}

{% extends "@WMCore//layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block wmcore_title %}
  <h1>Bienvenue sur la plateforme d'échange</h1>
{% endblock %}



{% block wmplatform_body %}
{% endblock %}
